<h1>Ruby_Calculator_Simulator</h1>
<hr/>

<%%>

<table id="table" class="table-bordered text-center">
  <tr>
    <td><button >1</button></td>
    <td><button>2</button></td>
    <td><button>3</button></td>
  </tr>
  <tr>
    <td>4</td>
    <td>5</td>
    <td>6</td>
  </tr>
  <tr>
    <td>7</td>
    <td>8</td>
    <td>9</td>
  </tr>
  <tr>
  <td colspan="3">0</td>
  </tr>
</table>